#particles-js {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.about{
    margin-top: 11rem;
    position: relative;
    z-index: 1;
}

.about h1 {
    color: #adadad;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
}

.about p {
    color: var(--gray-color);
}

.title-animation .line {
    display: block; 
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    font-family: 'KH Interference', sans-serif;
    font-weight: 700;
}

.title-animation .char {
    display: inline-block;
    transform: translateY(115px);
    transition: transform .5s;
}

.algoritmos{
    z-index: 2;
}


.title2{
    margin-left: 7rem;
}

#starfield {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}