:root {
    --primary-color: #9307e4;
    --background-dark: #0e0416;
    --background-light: #fdfdfd;
    --background-code: #1c1c1d;

    --text-light: #FFFFFF;
    --text-dark: #333333;
    --text-gray: #959595;

    --border-color: #CCCCCC;
    --success-color: #28a745;
    --warning-color: #ffc107;

    --shadow-light-rgba: rgba(239, 241, 243, 0.3);
    --shadow-light-hover-rgba: rgba(239, 241, 243, 0.4);
    --shadow-dark-rgba: rgba(0, 0, 0, 0.2);
    --shadow-darker-rgba: rgba(62, 56, 67, 0.5);
    --white-10-rgba: rgba(255, 255, 255, 0.1);
    --white-15-rgba: rgba(255, 255, 255, 0.15);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-image: url('../img/wallpaperM.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--text-light);
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    transition: background-image 0.5s ease-in-out;
   
}

#flash-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--text-light);
    opacity: 0;
    z-index: 9999;
    pointer-events: none;
}

h1,
h2,
h3 {
    font-family: "Karla", sans-serif;
    font-weight: 800;
}

@font-face {
    font-family: 'KH Interference';
    src: url('../fonts/KHInterferenceTRIAL-Regular.woff2') format('woff2'),
        url('../fonts/KHInterferenceTRIAL-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'KH Interference';
    src: url('../fonts/KHInterferenceTRIAL-Bold.woff2') format('woff2'),
        url('../fonts/KHInterferenceTRIAL-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

