.container-demo {
    background-color: var(--background-dark);
    height: 34rem;
    width: 80%;
    border-radius: 2rem;
    box-shadow: -3px -5px 87px -1px var(--shadow-darker-rgba);
    -webkit-box-shadow: -3px -5px 87px -1px var(--shadow-darker-rgba);
    -moz-box-shadow: -3px -5px 87px -1px var(--shadow-darker-rgba);
    margin-top: -2.5rem;
    position: relative;
    z-index: 1;
}

.menu-demo-top {
    background-color: var(--background-dark);
    border: 1px solid var(--white-10-rgba);
    border-radius: 16px;
    padding: 0.8rem 3rem;
    position: relative;
    z-index: 2;
    box-shadow: 0 4px 10px var(--shadow-dark-rgba);
    margin-bottom: 2rem;
}

.opitons-menu-demo {
    gap: 8px;
}

.menu-option {
    gap: 8px;
    padding: 8px 20px;
    border-radius: 12px;
    color: var(--text-gray);
    background-color: transparent;
    transition: all 0.3s ease;
}

.menu-option .material-symbols-outlined {
    font-size: 1.2rem;
}

.menu-option:hover {
    color: var(--text-light);
    background-color: var(--white-10-rgba);
}

.opitons-menu-demo .active {
    background-color: var(--text-light);
    color: var(--background-dark);
    box-shadow: 0 2px 15px var(--white-15-rgba);
}

.opitons-menu-demo .active:hover {
    background-color: var(--text-light);
    color: var(--background-dark);
}

.body-content {
    border-radius: 1rem;
    display: none;
    width: 95%;
    height: 90%;
    box-sizing: border-box;
}

.body-content.active-tab {
    display: flex;
}

.body-explanation {
    background-color: var(--text-light);
    color: var(--text-dark);
    border-radius: 1rem;
}

.body-example {
    color: var(--text-light);
}

#example-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
}

#cy-graph {
    width: 100%;
    height: 75%;
    border-radius: 1rem;
}

.body-coding {
    padding: 0;
    position: relative;
    flex-direction: column;
    overflow: auto;
}

.body-coding pre[class*="language-"] {
    margin: 0;
    height: 100%;
    font-size: 0.9rem;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 1rem;
    border: none;
    box-shadow: none;
    overflow: auto !important;
    white-space: pre;
}

.example-title {
    color: var(--text-light);
    flex-shrink: 0;
}

.grafo-bfs {
    width: 100%;
    flex-grow: 1;
    border-radius: 0.5rem;
    background-color: var(--text-light);
    margin-bottom: 1rem;
}

.animation-controls {
    margin-top: auto;
    flex-shrink: 0;
    padding: 2rem;
    margin-top: 2rem;
    
}

.btn-animate {
    padding: 10px 20px;
    font-family: "Roboto", sans-serif;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: var(--text-light);
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.2s ease, border-color 0.3s ease, filter 0.3s;
}

.btn-animate:hover {
    transform: scale(1.05);
    filter: brightness(115%);
}

#knapsack-animation-container .btn-animate,
#caesar-animation-container .btn-animate {
    background-color: var(--text-light);
    border-color: var(--primary-color);
    color: var(--primary-color);
    filter: none;
}

#knapsack-animation-container .btn-animate:hover,
#caesar-animation-container .btn-animate:hover {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
    color: var(--text-light);
    filter: none;
}

:not(pre)>code[class*=language-],
pre[class*=language-] {
    background: var(--background-code) !important;
}

.body-coding::-webkit-scrollbar,
.body-coding pre::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

.body-coding::-webkit-scrollbar-track,
.body-coding pre::-webkit-scrollbar-track {
    background: #1a1a1d;
}

.body-coding::-webkit-scrollbar-thumb,
.body-coding pre::-webkit-scrollbar-thumb {
    background-color: var(--text-light);
    border-radius: 10px;
}

.body-coding::-webkit-scrollbar-thumb:hover,
.body-coding pre::-webkit-scrollbar-thumb:hover {
    background-color: #323132;
}

.image-container {
    margin-top: 2rem;
    overflow: hidden;
    width: 100%;
}

.image-container img {
    transform: scale(1.1);
    max-width: 15rem;
}

.with-image {
    margin-top: 2rem;
}

.imgBolsa {
    transform: scale(0.8) !important;
}

div.code-toolbar>.toolbar {
    top: 1.3em !important;
    right: 1.2em !important;
}


@media (min-width: 1200px) {
    .container-demo {
        width: 60%;
    }
}