.carousel-container {
    position: relative;
    overflow: hidden;
    border-radius: 1rem;
}

.carousel-track {
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    flex: 0 0 100%;
    box-sizing: border-box;
    margin-right: auto !important;
}

.carousel-item h3 {
    margin-bottom: 1rem;
    color: var(--background-dark);
}

.carousel-item p {
    color: var(--text-dark);
    margin-bottom: 0 !important;
    max-width: 80%;
}

.carousel-btn {
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(14, 4, 22, 0.3);
    color: var(--text-light);
    z-index: 10;
    width: 40px;
    height: 40px;
    transition: background-color 0.3s ease;
}

.carousel-btn:hover {
    background-color: var(--background-code);
}

.carousel-btn.prev {
    left: 20px;
    padding-left: 5px;
}

.carousel-btn.next {
    right: 20px;
}