#algorithm-graph {
    position: relative; 
}

#algorithm-graph-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4rem;
}

.graph-content {
    position: relative;
    width: 90%;
    max-width: 800px;
    height: 100%;
}

.graph-trunk {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 14px;
    height: 0%; 
    background-color: #0e0416;
    border-radius: 2px;
}

#graph-svg {
    position: absolute;
    top: 0;
    left: 0;
    overflow: visible;
}

#graph-svg path {
    fill: none;
    stroke-width: 1.7;
    stroke-linecap: round;
    stroke: #959595;
    filter: drop-shadow(0 0 4px rgba(239, 241, 243, 0.6));

}

.graph-node-wrapper {
    position: absolute;
    transform: translate(-50%, -50%); 
}

.graph-node {
    background-color: rgba(14, 4, 22, 0.45);
    backdrop-filter: blur(8px); 
    -webkit-backdrop-filter: blur(8px);  
    border: 1px solid rgba(239, 241, 243, 0.2);
    box-shadow: 0 0 15px rgba(173, 126, 255, 0.3), 0 0 25px rgba(173, 126, 255, 0.1) inset; 
    padding: 3rem 5rem;
    border-radius: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
    text-align: center;
    opacity: 0;
}

.graph-node:hover {
    transform: scale(1.05) !important;
    border-color: rgba(239, 241, 243, 0.5); 
    box-shadow: 0 0 25px rgba(173, 126, 255, 0.5);
}

.graph-trunk {
    background-color: #959595;
    border-radius: 3px;
    box-shadow: 0 0 10px rgba(239, 241, 243, 0.5);
}

.graph-node h3 {
    margin: 0;
    font-size: 1.2rem;
    color: var(--white-color);
}

#modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(8, 0, 14, 0.8);
    backdrop-filter: blur(5px);
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

#demo-algo-modal {
    position: relative;
    transform: scale(0.9);
}

.close-modal-btn {
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: var(--white-color);
    color: var(--purple-color);
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 24px;
    cursor: pointer;
    z-index: 1010;
    display: flex;
    align-items: center;
    justify-content: center;
}

